
/*Responsible for our body background and formatting*/
body {
    /*Instead of doing a background color we instead see the usage of using a background image.*/
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

/*
You now have three type selectors with the exact same styling.
You can add the same group of styles to many elements by creating a list of selectors.
Each selector is separated with commas like this:
     selector1, selector2 {
         property: value;
     }
*/
h1, h2, p{
    text-align: center;
}

/*Add another style to the file that changes the background-color */
/*property to brown for the body element.*/
/*body{*/
/*    background-color: burlywood;*/
/*}*/


/*So far you have been using type selectors to style elements:

 div{

 }

A class selector is defined by a name with a dot directly in front of it, like this:
.class-name {
  styles
}

 */
.menu{

    /*Width can be declared as both pixel width (i.e. 300 px width) or a percentyage of a given*/
    /*area (i.e. 80% of the div width).*/
    width: 80%;
    background-color: burlywood;

    /*You want to center the div horizontally, so you set the margin properties*/
    /*for margin left and right to auto. Think of the margin as invisible space around an element.*/
    margin-left: auto;
    margin-top: auto;
}

/*Handles all our flavor formatting */
.flavor{
    text-align: left;
    /* Check Actual fix changed from 50% -> 49% -> 50% after setting elements p on same line  */
    width: 75%;
}

/*Handles all our price formatting*/
.price{
    text-align: right;
    /* Check Actual fix changed from 50% -> 49% -> 50 after setting elements p on same line  */
    width: 25%;
}


/*The p elements are nested in an article element with the class attribute of item. */
/*You can style all the p elements nested anywhere in elements with a class named item like this:*/

.item p {

    /*############### First Step (what we initially tried) #########################*/
    /*That's closer, but the price didn't stay over on the right.*/
    /*This is because inline-block elements only take up the width of their content. To spread */
    /*them out, add a width property to the flavor and price class selectors that have a value */
    /*of 50% each.*/

    /*############### Our Actual Fix ##########################*/
    /*Styling the p elements as inline-block and placing them on separate lines in the code creates */
    /*an extra space to the right of the first p element, causing the second one to shift to the next line. */
    /*One way to fix this is to make each p element's width a little less than 50%.*/

    display: inline-block;


}
